*{
    font-family: "Jost";
    color: seashell;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header{
    text-align: center;
    width: 100%;
    h1{
        font-size: 55px;
        font-weight: 400;
    }
    a{
        text-decoration: none;
    }
    p{
        font-size: 16px;
        color: aquamarine;
        text-decoration: underline;
    }
}

.video{
    position: relative;
    width: fit-content;
}

.content{
    text-align: center;
    width: 100%;
    
    h2{
        font-size: 42px;
        font-weight: 400;
    }
    h3{
        font-size: 21px;
        color: gray;
        font-weight: 400;
    }
    p{
        font-size: 16px;
        color: aquamarine;
        text-decoration: underline;
    }
}
.image{
    margin-bottom: 16px;
}
.closer{
    h2{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
footer{
    width: 100%;
    text-align: right;
    color: gray;
}

